@keyframes loadingSpinner {
  0% {
    fill: var(--color-trivia);
    transform: rotate(0deg);
  }

  50% {
    fill: var(--color-year);
  }

  100% {
    fill: var(--color-math);
    transform: rotate(360deg);
  }
}

.spinner-icon {
  animation-name: loadingSpinner;
  animation-iteration-count: infinite;
  animation-duration: .8s;
  animation-timing-function: linear;
  height: 3rem;
  width: 3rem;
}