.main-content-section {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.03);
}

.main-content-section--no-shadow {
  box-shadow: unset;
}

.main-content-section:not(:last-child) {
  margin-bottom: var(--size-4);
}