@keyframes mainContentSearchFormButton {
  0% {
    background-color: var(--color-green-1);
    border-color: var(--color-green-1-dark);
  }
  
  50% {
    background-color: var(--color-green-2);
    border-color: var(--color-green-2-dark);
  }

  100% {
    background-color: var(--color-green-1);
    border-color: var(--color-green-1-dark);
  }
}

.main-content-search-form-button {
  animation: mainContentSearchFormButton 2s linear infinite;
  border: 0;
  border-bottom: 6px solid;
  color: var(--color-white);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1rem;
  text-transform: uppercase;
}

.main-content-search-form-button:focus {
  opacity: .7;
  outline: none;
}
.main-content-search-form-button::-moz-focus-inner {
  border: 0;
}

.main-content-search-form-button:active {
  border-bottom: 0;
  border-top: 6px solid;
  opacity: 1;
}