.header {
  margin-bottom: var(--size-4);
}

.header-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.header-title__num {
  color: var(--color-trivia);
}

.header-title__in {
  color: var(--color-year);
}

.header-title__fo {
  color: var(--color-math);
}