.info-section > h2 {
  border-left: 5px solid;
  font-size: 1.8rem;
  font-weight: 700;
  padding: var(--size-2) var(--size-3);
}

.info-section > p {
  color: var(--color-grey-3);
  background: rgba(0, 0, 0, 0.05);
  line-height: 1.5;
  padding: var(--size-4);
}

/* Trivia */
.info-section--trivia {
  border-left-color: var(--color-trivia);
}

.info-section--trivia > h2 {
  color: var(--color-trivia);
}

/* Year */
.info-section--year {
  border-left-color: var(--color-year);
}

.info-section--year > h2 {
  color: var(--color-year);
}

/* Math */
.info-section--math {
  border-left-color: var(--color-math);
}

.info-section--math > h2 {
  color: var(--color-math);
}
