.info-section {
  
}

.info-section:not(:last-child) {
}

.info-section > h2 {
  border-left: 4px solid;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1rem;
}

.info-section > p {
  background: rgba(0, 0, 0, 0.05);
  line-height: 1.5;
  padding: 2rem;
}

/* Trivia */
.info-section--trivia {
  border-left-color: #226182;
}

.info-section--trivia > h2 {
  color: #226182;
}

.info-section--trivia > p {
  color: #5f5f5f;
}

/* Year */
.info-section--year {
  border-left-color: #616117;
}

.info-section--year > h2 {
  color: #616117;
}

.info-section--year > p {
  color: #5f5f5f;
}

/* Math */
.info-section--math {
  border-left-color: #b7432d;
}

.info-section--math > h2 {
  color: #b7432d;
}

.info-section--math > p {
  color: #5f5f5f;
}
